html {
  font-size: 100%;
  font-family: 'Baloo Thambi 2', cursive;
}

.top-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.452))), url(../imgs/mountain.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.452)), url(../imgs/mountain.jpg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

#top {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.452))), url(../imgs/table.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.452)), url(../imgs/table.jpg);
  background-position: center bottom;
}

header {
  width: 70%;
  margin: 0 auto;
}

.top-menu {
  font-family: 'Acme', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 30px;
  padding-bottom: 50px;
}

.top-menu .search {
  position: relative;
}

.top-menu .search .fa-search {
  font-size: 1.5rem;
}

.top-menu .search input {
  font-family: 'Acme', sans-serif;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  position: absolute;
  top: 5%;
  width: 220px;
  font-weight: 500;
  letter-spacing: 2px;
}

.top-menu .search input::-webkit-input-placeholder {
  color: white;
}

.top-menu .search input:-ms-input-placeholder {
  color: white;
}

.top-menu .search input::-ms-input-placeholder {
  color: white;
}

.top-menu .search input::placeholder {
  color: white;
}

.top-menu .logo a {
  font-size: 1.8rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
}

.top-menu .menu-bar {
  cursor: pointer;
}

.top-menu .menu-bar .fa-bars {
  font-size: 1rem;
  margin-right: 5px;
}

.top-menu .menu-bar .menu-btn-hide {
  display: inline-block;
  font-size: 1.3rem;
}

.top-menu .menu-bar .menu-btn {
  display: none;
  font-size: 1.3rem;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.493);
}

.nav-bar ul li {
  padding-bottom: 30px;
  -webkit-transition: all linear .1s;
  transition: all linear .1s;
  border: 1px solid transparent;
  position: relative;
}

.nav-bar ul li .drop-item ul {
  display: none;
  position: absolute;
  font-family: 'Baloo Thambi 2', cursive;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  margin-top: 30px;
}

.nav-bar ul li .drop-item ul li {
  padding: 10px 0;
  margin: 0 0;
}

.nav-bar ul li .drop-item ul li:hover a {
  background-color: #eceaea;
  color: #181717;
}

.nav-bar ul li .drop-item ul li a {
  padding: 10px 30px;
  background-color: black;
  line-height: 22px;
}

.nav-bar ul li:hover .drop-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bar ul li:hover {
  border-bottom: 1px solid white;
}

.nav-bar ul li a {
  padding: 0px 15px;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 130px 0;
}

main .main-text h1 {
  font-size: 4.5rem;
  padding: 25px 0;
}

main .main-text p {
  font-size: 1.5rem;
  word-wrap: break-word;
  max-width: 700px;
  margin: auto;
  padding-bottom: 30px;
}

.mobile-bar {
  display: block;
}

.mobile-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mobile-bar ul li {
  padding: 10px 0;
  -webkit-transition: all linear .1s;
  transition: all linear .1s;
  position: relative;
}

.mobile-bar ul li .drop-item ul {
  display: none;
  font-family: 'Baloo Thambi 2', cursive;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-animation-name: down;
          animation-name: down;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

.mobile-bar ul li .drop-item ul li {
  padding: 12px 0 0 0;
  margin: 0 0;
}

.mobile-bar ul li:hover .drop-item ul {
  display: block;
}

.mobile-bar ul li a {
  padding: 0px 15px;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
}

.mobile-bar ul li a:hover {
  color: #a86500;
}

article {
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 0 120px 80px 120px;
  -webkit-transform: translateY(-7%);
          transform: translateY(-7%);
  -webkit-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.144);
          box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.144);
}

article h1 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  padding-top: 80px;
}

article p {
  font-size: 1.2rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.719);
  margin-bottom: 30px;
}

article h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

article h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

article h4 {
  margin-bottom: 30px;
}

footer {
  width: 70%;
  margin: auto;
  text-align: center;
}

footer a {
  padding: 13px 20px;
  color: black;
  letter-spacing: 1px;
}

footer p {
  margin-top: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes down {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 1160px) {
  html {
    font-size: 80%;
  }
  header {
    width: 80%;
  }
  header main {
    margin: 120px 0;
  }
  article {
    width: 80%;
    padding: 30px 40px;
  }
  article h1 {
    padding-top: 40px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 77%;
  }
  header {
    width: 90%;
  }
  header main {
    margin: 100px 0;
  }
  .top-menu .menu-bar .menu-btn-hide {
    display: none;
  }
  .top-menu .menu-bar .menu-btn {
    display: inline-block;
  }
  .nav-bar {
    display: none;
  }
  article {
    width: 85%;
    padding: 30px 30px;
  }
  article h1 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 74%;
  }
  header {
    width: 90%;
  }
  header main {
    margin: 30px 0;
  }
  header .search {
    display: none;
  }
  .main-btn button {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 60%;
  }
  .top-container {
    height: 100vh;
  }
  header {
    width: 90%;
  }
  header main {
    margin: 0 0;
  }
}
/*# sourceMappingURL=style.css.map */